body {
    background-image: url('./index.jpg');
    background-color: gray;
    background-repeat: no-repeat;
    position: relative;
    background-size: 1500px;
    background-position: center;
    height: 100%;
    width: 100%; 
    align-self: center;
    
}

h1 {
    font-size: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
    text-align: center;

    
}

img {
    width: 13em;
    height: 12em; 
    align-self: left;
    
    
}
.primary {
    display: inline;
}
.form {
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 15%;
    background-color: #0066cc ;
    padding:30px;
    text-align: center;
    align: center;
    color: honeydew;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: -5px -5px 5px gray;
    border-radius: 7px;
    transition: 0 0 1px;
    min-width: 300px;

}
.login:hover{
    background-color: grey;
}
input, select{
    border:none;
    border-bottom: 1px solid;
    border-bottom-color: white;
    background-color: #0066cc;
    color: white;
}

.alert .alert-success{
    color: green;
}

.alert .alert-danger{
    color: red;
}


